:root {
    --bg-color: #3144F3;
    --bg-color2: #485BFF;
    --color: #fff;
}

.hamburgerBtn span {
    background-color: var(--bg-color);
}

nav li:nth-of-type(2) a {
    color: #a3adff;
    text-decoration: line-through;
}

main {
    color: var(--color);
}

h2 {
    font-family: 'Gmarket Sans';
    font-size: 30px;
    margin: 3vw;
    color: var(--bg-color);
    text-align: center;
}

h3 {
    font-family: 'Pretendard';
    font-size: 22px;
    line-height: 180%;
    font-weight: 600;
}

li,
p {
    font-family: 'Pretendard';
    font-size: calc(100vw * 22 / 1920);
    font-weight: 500;
    line-height: 160%;
}

.aboutMe1 {
    height: 50vh;
    overflow: hidden;
}

.aboutMe2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.panels {
    width: 200%;
}

.panels_side {
    float: left;
    width: 50%;
    perspective: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

ul.left_box {
    list-style-type: circle;
    text-align: left;
}

ul.left_box li {
    margin-top: 10px;
}

.right_box:nth-of-type(1) p {
    margin-bottom: 30px;
}

.right_box {
    width: max-content;
    text-align: center;
}

.--left,
.--right {
    will-change: transform;
    position: relative;
    left: -25%;
    transform: translate(0, 0);
}

.--left {
    background: var(--bg-color2);
}

.--left:hover .arrow {
    transform: translate(-100%, -50%);
}

.--right {
    background: var(--bg-color);
}

.--right:hover .arrow {
    transform: translate(0, -50%);
}

.--left-active {
    transform: translate(50%, 0);
}

.--left-active .--inner-left {
    transform: rotateY(0);
}

.--left-active .arrow {
    transform: translate(-50%, -50%) rotate(180deg) !important;
}

.--right-active {
    transform: translate(-50%, 0);
}

.--right-active .--inner-right {
    transform: rotateY(0);
}

.--right-active .arrow {
    transform: translate(-50%, -50%) rotate(180deg) !important;
}

.--left-hidden {
    transform: translate(-50%, 0);
}

.--right-hidden {
    transform: translate(50%, 0);
}

.--inner {
    cursor: pointer;
}

.--inner-left,
.--inner-right,
.--inner {
    will-change: transform;
    padding: 0 5vw;
    height: 50vh;
}

.--inner-left {
    transform-origin: right center;
    transform: rotateY(-90deg);
    transition-delay: 0.1s;
}

.--inner-left:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color2);
    z-index: -1;
}

.--inner-right {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    transform-origin: left center;
    transform: rotateY(90deg);
    transition-delay: 0.1s;
}

.--inner-right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    opacity: 0.85;
}

.panels__headline {
    margin: 0;
    font-size: calc(100vw * 34 / 1920);
    text-align: center;
    color: var(--color);
}

.panels ul {
    font-size: calc(100vw * 18 / 1920);
}

.arrow {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw * 50 / 1920);
    height: calc(100vw * 50 / 1920);
    fill: var(--color);
    border: calc(100vw * 3 / 1920) solid var(--color);
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.profile_box {
    width: 35%;
    margin: 30px;
}

.profile_box h3::before {
    content: '● ';
    color: #FFD600;
    font-size: 18px;
}

.profile_box h3 {
    margin: 10px;
    color: #000;
    font-weight: 700;
}

.profile_box ul {
    display: block;
    color: #000;
}

.profile_wrap {
    display: flex;
    margin-left: 30px;
}

.profile_box img {
    margin: calc(100vw * 5 / 1920);
    width: calc(100vw * 60 / 1920);
}

.profile_item {
    width: 25%;
}

.profile_text {
    width: 65%;
}

.profile_img {
    margin-left: 30px;
}

.profile_img li {
    display: inline;
}

/* .profile_img_hover {
    margin-left: 30px;
}

.profile_img_hover li {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #a4adff;
    width: 35%;
    white-space: pre-line;
    font-weight: 500;
} */


.contact {
    margin-top: 200px;
}

.contact_wrap {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.contact_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    margin-right: 50px;
}

.contact_box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-family: 'Gmarket Sans';
    font-size: 18px;
    font-weight: 800;
    color: #000;
    cursor: pointer;
    white-space: pre-line;
}

.contact_box div {
    width: 100px;
}

.contact_box a {
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 600;
    color: #000;
}

.contact_box a:hover {
    color: #3144F3;
}

.contact_box:nth-last-of-type(1) {
    margin-top: 100px;
}

.contact_box:nth-last-of-type(1) p {
    color: var(--bg-color);
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 18px;
}

.contact_img {
    width: 20%;
    height: fit-content;
}


@media (max-width: 750px) {
    .profile_box h3 {
        text-align: center;
        margin-bottom: 50px;
    }

    .profile_box h3::after {
        content: ' ●';
        color: #FFD600;
        font-size: 18px;
    }

    .profile_wrap {
        margin-left: 0;
        justify-content: center;
        padding-bottom: 100px;
        border-bottom: 1px solid var(--bg-color);
    }

    .profile_item {
        width: 22%;
    }

    .profile_text {
        width: 55%;
    }

    .profile_box img {
        margin: calc(100vw * 5 / 750);
        width: calc(100vw * 50 / 750);
    }

    h3 {
        font-size: calc(100vw * 22 / 750);
    }

    li,
    p {
        font-size: calc(100vw * 20 / 750);
    }

    .panels__headline {
        font-size: calc(100vw * 30 / 750);
    }

    .aboutMe1 {
        height: 100vh;
    }

    .profile_box {
        width: 90%;
    }

    .panels {
        width: 100%;
        height: 200vh;
    }

    .panels_side {
        float: none;
        width: 100%;
        height: 100vh;
        display: block;
        text-align: center;
    }

    .--left,
    .--right {
        top: -25%;
        left: 0;
    }

    .arrow {
        width: calc(100vw * 40 / 750);
        height: calc(100vw * 40 / 750);
        border: calc(100vw * 3 / 750) solid var(--color);
    }

    .--left:hover .arrow {
        transform: translate(-50%, -80%) rotate(90deg);
    }

    .--right:hover .arrow {
        transform: translate(-50%, -20%) rotate(90deg);
    }

    .--left-active {
        transform: translate(0, 50%);
    }

    .--left-active .--inner-left {
        transform: rotateX(0);
    }

    .--left-active .arrow {
        transform: translate(-50%, -50%) rotate(-90deg) !important;
    }

    .--right-active {
        transform: translate(0, -50%);
    }

    .--right-active .--inner-right {
        transform: rotateX(0);
    }

    .--right-active .arrow {
        transform: translate(-50%, -50%) rotate(-90deg) !important;
    }

    .--left-hidden {
        transform: translate(0, -50%);
    }

    .--right-hidden {
        transform: translate(0, 50%);
    }

    .--inner-left,
    .--inner-right,
    .--inner {
        height: 50vh;
        padding: 2vh 8vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .--inner-left {
        transform-origin: center bottom;
        transform: rotateX(90deg);
    }

    .--inner-right {
        transform-origin: center top;
        transform: rotateX(-90deg);
    }

    .arrow {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .arrow--left {
        top: 25%;
    }

    .profile_box .profile_img {
        text-align: center;
    }

    .profile_img_hover li {
        width: 80%;
    }

    .contact_wrap {
        align-items: center;
        flex-direction: column;
    }

    .contact .contact_list {
        margin-right: 0;
    }

    .contact_list {
        width: 50%;
    }

    .contact_box {
        justify-content: space-between;
    }

    .contact_box:nth-last-of-type(1) {
        justify-content: center;
    }

    .contact_box a {
        font-size: calc(100vw * 20 / 750);
    }

    .contact_box:nth-last-of-type(1) p {
        text-align: center;
    }

    .contact_img {
        width: 50%;
        margin-top: 50px;
    }
}