@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


:root {
    --bg-color: #3144F3;
    --color: #fff;
}


h1 {
    font-family: 'Gmarket Sans';
    font-weight: 400;
    font-size: 50px;
    line-height: 80px;
}

a {
    color: var(--color);
    font-weight: 600;
}


header {
    position: fixed;
    z-index: 5;
    width: 0;
}

#wave_blue {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
}

.blue_box {
    background-color: #485BFF;
    width: 100%;
    height: 100vh;
}

#wave_blue img {
    width: 100%;
}

#wave {
    position: absolute;
    bottom: 79vh;
    left: 0;
    width: 100vw;
}

nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 80vh;
    padding: 7vw;
    bottom: -100vh;
    left: 0;
    background-color: var(--color);
    transition: all 1s;
}

nav li {
    margin-bottom: 10vh;
}

nav li:nth-last-child(1) {
    margin-bottom: 0;
}

nav li a {
    font-family: 'Gmarket Sans';
    font-size: 35px;
    color: var(--bg-color);
}

nav li a:hover {
    color: #FFD600;
}

.hamburgerBtn {
    position: fixed;
    top: 3vw;
    right: 3vw;
    width: 38px;
    height: 30px;
}

.hamburgerBtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    width: 18px;
    height: 5px;
    background-color: var(--color);
    border-radius: 4px;
}

.hamburgerBtn span:nth-of-type(1) {
    top: 0;
    left: 0;
}

.hamburgerBtn span:nth-of-type(2) {
    top: 12.5px;
    left: 10px;
}

.hamburgerBtn span:nth-of-type(3) {
    bottom: 0;
    right: 0;
}

.hamburgerBtn.active span:nth-of-type(1) {
    animation: hamburger1 1s forwards;
    animation-delay: .1s;
}

.hamburgerBtn.active span:nth-of-type(2) {
    animation: hamburger2 1s forwards;
    animation-delay: .1s;
}

.hamburgerBtn.active span:nth-of-type(3) {
    animation: hamburger3 1s forwards;
    animation-delay: .1s;
}



@keyframes hamburger1 {
    0% {
        left: 0;
    }

    50% {
        left: -5px;
    }

    100% {
        left: 10px;
    }
}

@keyframes hamburger2 {
    0% {
        left: 10px;
    }

    50% {
        left: 10px;
    }

    100% {
        left: 10px;
    }
}

@keyframes hamburger3 {
    0% {
        right: 0;
    }

    50% {
        right: -5px;
    }

    100% {
        right: 10px;
    }
}

footer {
    background-color: var(--bg-color);
    color: var(--color);
    height: 7vh;
    margin-top: 100px;
    padding: 2.5vh;
    font-family: 'Gmarket Sans';
    font-size: 12px;
    text-align: center;
}

::selection {
    background: var(--bg-color);
    color: var(--color);
}


/* 스크롤바*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--color);
}

::-webkit-scrollbar-thumb {
    border: 3px solid var(--color);
    background-color: var(--bg-color);
    border-radius: 10px;
}

@media (max-width: 750px) {

    .hamburgerBtn {
        top: 8vw;
        right: 8vw;
    }

    nav li a {
        font-size: 30px;
    }
}