:root {
    --bg-color: #3144F3;
    --bg-color2: #485BFF;
    --color: #fff;
}

.hamburgerBtn span {
    background-color: var(--bg-color);
}

nav li:nth-of-type(3) a {
    color: #a3adff;
    text-decoration: line-through;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--bg-color);
    height: 95vh;
}

h2 {
    font-family: 'Gmarket Sans';
    font-size: 30px;
    margin: 3vw;
    color: var(--bg-color);
    text-align: center;
}

#wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 3vw;
}

section {
    width: 45%;
}

.right_section {
    position: relative;
    font-family: 'Pretendard';
    font-size: 100px;
    font-weight: 900;
    line-height: 110px;
    text-align: right;
    color: var(--bg-color2);
    z-index: -1;
}

.container {
    position: relative;
    height: 100px;
    overflow: hidden;
    outline: 2px transparent;
}

.right_section ul {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    list-style: none;
    white-space: nowrap;
}

.right_section .line_text {
    color: transparent;
    -webkit-text-stroke: 2px var(--bg-color2);
}

.project_list_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.project_list {
    display: flex;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid var(--bg-color);
    font-family: 'Gmarket Sans';
    font-size: 30px;
    font-weight: 800;
}

.project_list:hover {
    background-color: var(--bg-color2);
    color: var(--color);
}

.project_img {
    display: none;
    position: absolute;
    padding: 2.5vw;
    bottom: 0;
    right: -50vw;
    width: 45vw;
    color: #000;
    box-shadow: 0px 0px 20px var(--bg-color2);
    transition: all .5s;
    background: #fff;
}

.project_img h3 {
    font-size: calc(100vw * 40 / 1920);
    line-height: 10%;
    margin: 10px 0;
}

.project_img span {
    display: inline-block;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid var(--bg-color2);
    color: var(--bg-color2);
    border-radius: 100px;
    margin: 10px 0;
}

.project_img img {
    width: 40vw;
    border-radius: 10px;
    border: 3px solid #eee;
}

.project_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.project_text:hover~.project_img {
    display: block;
}

.project_text div:nth-child(2) {
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 700;
}

.popup_box_wrap {
    transform: scale(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    font-family: 'Gmarket Sans';
    transition: .5s;
}

.popup_box {
    display: flex;
    flex-direction: row;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80vw;
    max-height: 80vh;
    padding: 5vw;
    background-color: var(--color);
    box-shadow: 0px 0px 500px #b2b9f6;
    color: #000;
}

.popup_box .web_btn {
    position: absolute;
    margin: 1vw;
    width: calc(100vw * 120 / 1920);
    padding: calc(100vw * 15 / 1920);
    border-radius: 100px;
    text-align: center;
    color: var(--color);
    background-color: var(--bg-color);
    font-family: 'Gmarket Sans';
    font-size: calc(100vw * 24 / 1920);
    font-weight: 600;
}

.popup_box a {
    width: 50%;
    margin-right: 40px;
}

.popup_box a:hover {
    filter: opacity(.7);
    transition: .5s;
}

.popup_img {
    width: 100%;
    height: fit-content;
}

.popup_text_box {
    width: 50%;
}

.popup_button {
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 20px;
    right: 10px;
    transition: .2s;
    z-index: 5;
}

.popup_button:hover {
    transform: rotate(180deg);
}

.popup_box h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.popup_box h3 p {
    font-size: 60px;
}

.popup_box span {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 100px;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 700;
}

.popup_text {
    margin-top: 20px;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    white-space: pre-line;
}




@media (max-width: 1000px) {

    main {
        display: block;
        height: 90vh;
    }

    #wrap {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 90vw;
    }




    .right_section {
        display: none;
    }


    .project_list {
        height: auto;
        flex-direction: column;
    }

    .project_img {
        display: none;
        position: static;
        margin-top: 30px;
        padding: 2.5vw;
        width: 100%;
        background-color: #fff;
        box-shadow: none;
        border-radius: 10px;
    }

    .project_img img {
        width: 100%;
    }

    .project_img h3 {
        font-size: calc(100vw * 30 / 750);
    }

    .popup_box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .popup_box .web_btn {
        width: calc(100vw * 120 / 1000);
        padding: calc(100vw * 15 / 1000);
        font-size: calc(100vw * 24 / 1000);
        margin: 2vw;
    }

    .popup_box a {
        width: 100%;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .popup_img {
        width: 90%;
        margin-right: 0;

    }

    .popup_box .popup_text_box {
        width: 90%;
        margin-top: 30px;
    }

}